@font-face {
    font-family:minecraftory;
    src:url(../graphics/textstyles/Minercraftory.ttf);
}

* {
    font-family:minecraftory;
    text-decoration: none;
}

#null {
    margin:0;
    padding:0;
}

.invisible {
    display:none;
}