#settingsContainer {
    width: 75vw;
    height:75vh;
    position: fixed;

    margin-top:12.5vh;
    margin-left:12.5vw;

    background-color: white;
    box-shadow:0 0 0.75cm rgba(0,0,0,0.3);

    border-radius:1cm;

    z-index:900;

    transform:translateY(-100vh);

    transition: 1s ease-in-out;
}

#settingsContainer > a {
    position:absolute;

    height:auto;
    width:auto;

    margin:0.5cm;

    color:dodgerblue;

    top:0;
    right:0;

    border:0;

    background-color:rgba(0,0,0,0);

    cursor: pointer;
}

#PBbig {
    width:10vw;
    aspect-ratio:1/1;

    margin:1cm;
    border:0.1cm dodgerblue solid;
    border-radius:10vw;

    cursor: pointer;
}

#PBbigEditIcon {
    width:5vw;
    aspect-ratio:1/1;

    margin:calc(1.1cm + 2.5vw);

    position: relative;
    left:calc((10vw + 2.35cm) * -1);

    opacity:0.75;

    color: dodgerblue;

    cursor: pointer;

}

#PBcollection {
    overflow-y: scroll;
    width: 77.45vw;
    height:75vh;
    margin-top:12.5vh;
    margin-left:12.5vw;

    position: fixed;

    background-color:white;

    z-index: 1000;
    box-shadow:0 0 0.75cm rgba(0,0,0,0.3);
    border-radius:1cm;

    transform:translateY(-100vh);

    transition:1s ease-in-out;
}

.pb {
    width:9vw;
    aspect-ratio:1/1;

    margin:2.45vw;

    border:0.5vw dodgerblue solid;

    border-radius:8vw;

    cursor: pointer;
}

#PWresetOriginal {
    border:0;
    border-bottom:solid 0.1cm lightcoral;
    width: 30%;

    position:absolute;
    right:5%;
    top:10%;
}

#PWT1 {
    color: lightcoral;
    position:absolute;
    top:5%;
    width:30%;
    right:5%;
    margin:0;
}
#PWresetNew1 {
    border:0;
    border-bottom:solid 0.1cm lightcoral;
    width: 30%;

    position:absolute;
    right:5%;
    top:25%;
}

#PWT2 {
    color: lightcoral;
    position:absolute;
    top:20%;
    width:30%;
    right:5%;
    margin:0;
}
#PWresetNew2 {
    border:0;
    border-bottom:solid 0.1cm lightcoral;
    width: 30%;

    position:absolute;
    right:5%;
    top:40%;
}

#PWT3 {
    color: lightcoral;
    position:absolute;
    top:35%;
    width:30%;
    right:5%;
    margin:0;
}

#SetPasswortBTN {
    width:30%;
    position: absolute;
    top:50%;
    right:5%;
    height:0.75cm;
    color: white;
    background-color:lightcoral;
    border:0;
    border-radius:10000cm;

    transition:0.4s;

    cursor: pointer;
}

#SetPasswortBTN:hover {
    width:30%;
    position: absolute;
    top:50%;
    right:5%;
    color:lightcoral;
    background-color:white;
    border:0;
    border-radius:10000cm;
    border:0.1cm solid lightcoral;
}

#deleteBTN {
    background-color:lightcoral;
    color:white;
    position:absolute;
    right:5%;
    bottom:5%;

    height:1cm;

    width:30%;

    border:0;
    border-radius:1cm;

    cursor: pointer;
    transition: 0.1s;
}

#deleteBTN:hover {
    background-color: red;
}

#pwdeleteDraft {
    position: fixed;
    background-color: white;

    min-width: 30vw;

    width: auto;
    height: auto;

    transform: translate(-50%, -50%);

    left:50%;
    top:50%;

    border-radius:0.5cm;

    z-index: 10000;

    box-shadow:0 0 0.75cm rgba(0,0,0,0.3);

    display:none;
}

#pwdeleteDraft > p {
    color:lightcoral;
    width:90%;
    height: auto;
    margin:5%;

    text-align: center;
}

#pwdeleteDraft > input {
    border:0;
    width:80%;
    margin:10%;
    margin-top:0;
    border-bottom:0.1cm solid lightcoral;

    margin-bottom:5%;
}

#pwdeleteDraft > button {
    border:0;

    width:35%;
    color:white;
    background-color: lightcoral;
    border-radius:10000cm;

    margin-left: 10%;

    cursor: pointer;

    transform: opacity 0.5s;
    transition:0.2s;

    margin-bottom:5%;

    padding-top:0.1cm;
    padding-bottom:0.1cm;
}

#pwdeleteDraft > button:hover {
    background-color: red;
}