.parent {
    position: relative;
    width: 100%;
    height:auto;
}

.header-container {
    height:auto;
    width:100%;
    position: relative;
    top:50px;
}

.image1 {
    position: relative;
    top: 0;
    left: 0;
}

.image2 {
    position: absolute;
    top: 32.5%;
    right:25%;
    width:50%;
}

@media screen and (max-width: 900px) {

    .dissapearOnPhone {
        display:none;
    }

    .invertednav {
        display: flex;
        width:100%;
        height:30px;
        flex-wrap: nowrap;
        position:absolute;
        z-index:5;
        bottom:-10px;
    }
    .invertednav > a {
        background-color:#eeeeee;
        color:dodgerblue;
        font-family:minecraftory;
        font-size:90%;
        margin-top:15px;
        height:15px;
        width:25%;
        padding:15px;
        transition:0.5s;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.3) inset;
    }
    .invertednav > a:hover {
        background-color: #ffffff;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0) inset;
    }
    .invertednav > #TabOne {
        background-color: #ffffff;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0);
    }

}

@media screen and (min-width: 900px) {

    .dissapearOnPC {
        display:none;
    }

    .invertednav {
        display: flex;
        width:100%;
        height:30px;
        flex-wrap: nowrap;
        position:absolute;
        z-index:5;
        bottom:5%;
    }
}