@font-face {
    font-family:minecraftory;
    src:url(alphabet/Minercraftory.ttf);
}

* {
    font-family:minecraftory;
    text-decoration: none;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family:minecraftory;
    color:dodgerblue;
    font-size:20px;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

a {
    font-family:minecraftory;
}

*:focus {
    border: none;
    outline: none;
}