#null {
    margin:0;
    padding:0;
}

/*
    Block top navbar
    Konzept abgelehnt
    Code hier erhalten
#nav {
    width:100%;
    height:1.5cm;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.3);
}

#nav > a {
    height:100%;
    width:auto;
    padding-left:2vw;
    padding-right:2vw;
    background-color:white;
    color:deepskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:minecraftory;
    border-left:deepskyblue solid 0.2cm;
}

#nav > div {
    width:50%;
    margin-left:25%;
    position: absolute;
    height:1.5cm;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

#nav > div > a {
    height:100%;
    width: auto;
    background-color: white;
    padding-left:0.3cm;
    padding-right:0.3cm;
    color: deepskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space:nowrap;
}
*/

#navIMG {
    width:100%;
    height:auto;
    margin:0;
}

#nav {
    width:100%;
    height:1cm;
    display: flex;
    flex-wrap: nowrap;
    position:relative;
    bottom:0.55cm;
}

#nav > a {
    width: 25%;
    height:1cm;

    border-top-right-radius:0.5cm;
    border-top-left-radius:0.5cm;

    background-color:white;

    color:dodgerblue;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size:0.5cm;

    box-shadow: inset 0 0 0.75cm rgba(0,0,0,0.3);
    
    transition: all ease 1s;
}

#nav > a:first-child {
    box-shadow:0 0 0 0 rgba(0,0,0,0);
}

#nav > a:first-child + a {
    border-bottom-left-radius:0.5cm;
}

#nav > a:hover {
    box-shadow: inset 0 0 0 rgba(0,0,0,0.5);
    transition: all ease 0.5s;
}

#nav > a:hover + a {
    border-bottom-left-radius:0.5cm;
}